<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='About')"></head>
<body>

<th:block th:if="${usuarioId != null}">
    <div th:replace="fragments :: userNavbar(${usuarioId}, ${usuarioNombre})"></div>
</th:block>

<th:block th:if="${usuarioId == null}">
    <div th:replace="fragments :: guestNavbar"></div>
</th:block>

<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Developed by Hana Šlipogor </li>
            <li>Version 1.1.0</li>
            <li>Release date: April 8th 2026</li>
        </ul>
    </div>
</div>

<div th:replace="fragments::javascript"></div>
</body>
</html>