<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='About')"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Developed by HANA ŠLIPOGOR </li>
            <li>Version 1.0.1</li>
            <li>Release date: March 30th 2026</li>
        </ul>
    </div>
</div>
<div th:replace="fragments::javascript"/>
</body>
</html>